#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  z-index: 500;
}

#overlay.hide {
  pointer-events: none;
  opacity: 0;
}

.zoom-image-clone {
  position: fixed;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  z-index: 500;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: -ms-zoom-out;
  cursor: zoom-out;
}

#overlay {
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  background-color: white;
  background-color: rgba(255,255,255,0.97);
}